html { 
    font-family: "Roboto", sans-serif;
    color: #222; 
    font-weight: 1.4;
    font-size: 110%;
    background-color: white;

    box-sizing: border-box;
}

body {
    margin: 0px;
}

img {
    width: 100%;
}

.nineties-logo {
    width: 160px;
    margin: 0 auto;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
    padding-top: 1.5em;
    padding-right: 0;
    padding-bottom: 1.5em;
    padding-left: 0;
}

.header {
    padding-top: 1.5em;
    padding-right: 0;
    padding-bottom: 1.5em;
    padding-left: 0;
}

nav ul a{
    list-style-type: none;
    display: inline-block;
}

nav ul a{
    
    display: inline-block;
    text-align: center;
    list-style-type: none;
    padding-top: .5em;
    padding-left: .75em;
    padding-bottom: .5em;
    padding-right: .75em;
    border-radius: 8px;
}

section.hero {
    width: 100%;
    padding-top: 10em;
    padding-right: 0;
    padding-bottom: 10em;
    padding-left: 0;
    background-image: url("../images/greatest-90s-fashion-trends.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

section.h1 {
    width: 75%;
    padding: .5em auto;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    font-size: 2rem;
    text-shadow: 2px;
    background-color: rgba(0,0,0,.8);
}